.git
.gitignore
node_modules
.elasticbeanstalk
.idea
target/classes
target/test-classes
target/surefire-reports
target/maven-status
target/maven-archiver
target/generated-sources
target/generated-test-sources